#!/bin/sh
set -e
. /usr/share/debconf/confmodule

case "${1}" in
    configure)
        #ask questions
        db_input medium minos-desktop-tools/cronjobs || true
        #show interface
        db_go || true
        ;;
    reconfigure)
        #ask questions
        db_input medium minos-desktop-tools/cronjobs || true
        #show interface
        db_go || true

        #workaround for the hacky way of managing configure/reconfigure in maintainer scripts/debconf
        if [ -f /var/lib/dpkg/info/minos-desktop-tools.postinst ]; then
            /var/lib/dpkg/info/minos-desktop-tools.postinst configure
            true
        fi
        ;;
    *)
        printf "%s\\n" "${0} called with unknown argument \`${1}'" 1>&2
        exit 1
        ;;
esac

#DEBHELPER#
exit 0
